.container {
    background: linear-gradient(180deg, #0C0505 0%, #3A3535 47.92%, #5E5858 100%);
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 130px;
    padding-left: 50px;
    padding-right: 50px;

    border-bottom: 1px solid #6A6363;

}

header img {

    height: 70px;

}

.profile {

    display: flex;
    gap: 20px;
    align-items: center;

}

.profile img {

    border-radius: 50%;
    border: 2px solid #6A6363;
}

.profile span {

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;

    color: #FFFF;
}

main {

    height: 650px;
}

main h1 {

    margin-left: 150px;
    margin-top: 45px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;

    color: #FFFF;

}

.list-music {

    display: flex;

    gap: 25px;
    margin-left: 160px;
    margin-top: 10px;
    padding-top: 25px;
    width: 1525px;

    border-top: 1px solid #6A6363;


    list-style: none;

}

.list-music li {

    display: flex;
    flex-direction: column;

    width: 350px;

}

.list-music li img {

    width: 350px;

}

.list-music li strong {

    padding: 10px 0 10px 0;

    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 35px;

    color: #FFFF;


}

.list-music li span {

    font-family: 'Rubik', sans-serif;
    text-align: justify;
    font-size: 19px;

    color: #CCC3C3;
}