.container {
    background: linear-gradient(180deg, #0C0505 0%, #3A3535 47.92%, #5E5858 100%);
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 130px;
    padding-left: 50px;
    padding-right: 50px;

    border-bottom: 1px solid #6A6363;

}

header img {

    height: 70px;

}

.profile {

    display: flex;
    gap: 20px;
    align-items: center;

}

.profile img {

    border-radius: 50%;
    border: 2px solid #6A6363;
}

.profile span {

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;

    color: #FFFF;
}

main {

    height: 620px;
}

main h1 {

    margin-left: 225px;
    margin-top: 25px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;

    color: #FFFF;

}

.list-music {

    display: flex;

    gap: 70px;
    margin-left: 230px;
    margin-top: 10px;
    padding-top: 25px;
    width: 1450px;

    border-top: 1px solid #6A6363;


    list-style: none;

}

.list-music li {

    display: flex;
    flex-direction: column;

    padding: 5px;
    width: 290px;

}

.list-music li:hover {

    transform: scale(1.05);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}


.list-music li img {

    width: 290px;

}

.list-music li strong {

    padding: 10px 0 10px 0;

    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 35px;

    color: #FFFF;


}

.list-music li span {

    font-family: 'Rubik', sans-serif;
    text-align: justify;
    font-size: 19px;

    color: #CCC3C3;
}


footer {

    display: flex;


    height: 164px;
    background: linear-gradient(180deg, #383535 0%, rgba(133, 130, 130, 0.00) 100%);


}

.music-info {

    display: flex;
    flex-direction: column;
    gap: 9px;

    margin-top: 30px;
    margin-left: 40px;
    width: 290px;

}

.music-info strong {

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;

    color: #FFFF;
}

.music-info span {

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;

    color: #FFFF;
}


.controls-buttons {

    display: flex;

    gap: 30px;
    margin-left: 400px;
    margin-bottom: 50px;

}

.btn-stop,
.btn-previous,
.btn-next {

    cursor: pointer;
    width: 70px;
}

.btn-pause {

    cursor: pointer;
    width: 90px;
    display: none
}

.btn-play {

    cursor: pointer;
    width: 90px;
}